* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
}

.container {
  width: 100%;
}

#header-nav {
  background-color: #8F382E;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.navbar-brand {
  margin-bottom: 20px;
}

.navbar-brand h1 {
  margin-top: 0;
  color: #FFF7E6;
  font-size: 2em;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle {
  margin-top: 17px;
}

#nav-list a {
  color: #FFF7E6;
  text-align: center;
}


h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #46515E;
  font-size: 2.5em;
}

div.container-fluid {
  background-color: #FFF7E6;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  color: #496E6C;
  padding-top: 3px;
  padding-bottom: 3px;
}

p {
  color: #46515E;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 767px) {
  #dropdown-menu {
    background-color: #496E6C;
  }
}